<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="body-home">
    <header class="min-w-full w-full bg-white fixed shadow-lg">
        <nav class="flex items-center px-28 py-5" style="background-color: blueviolet;">

            <img src="img/diop.jpeg" width="300px" alt="" class="w-12 cursor-pointer rounded-full"">

            <ul class="flex-1 text-center list-none">
                <li class="px-8 py-2 inline-block rounded-lg bg-cyan-600 nav-item">
                    <a href="Accueil.html" class="no-underline text-white text-lg">Accueil</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="eleves.html" class="no-underline text-black text-lg">Élèves</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="classe.html" class="no-underline text-black text-lg">Classes</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="niveaux.html" class="no-underline text-black text-lg">Niveaux</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>